<h2>Person Details</h2> 

<hr/>
<div *ngIf="person">
  <div>
    <label><b>Name: </b></label> {{person.name}}
  </div>
  <div>
    <label><b>Email Id: </b></label> {{person.emailId}}
  </div>
  <div>
    <label><b>Age: </b></label> {{person.age}}
  </div>  
  <div>
    <label><b>Avatar: </b></label> {{person.avatar}}
  </div> 
  <div>
    <label><b>Country: </b></label> {{person.country}}
  </div> 
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Person List</button><br>


